#bor {
    width: 200px;
    height: 300px;
    margin: auto;
    margin-top: 100px;
    border: black solid 1px;
    background-color: cornflowerblue;
}

#show {
    width: 100px;
    line-height: 40px;
    margin: 40px auto;
    /*background-color: blueviolet;*/
    text-align: center;
    font-size: larger;
}

#start,
#reset,
#stop {
    width: 100px;
    height: 30px;
    margin: 10px;
    color: white;
    border-color: wheat;
    background-color: black;
}

#btnWarp {
    text-align: center;
}